body {
  background-color: black;
}

div.text {
  font-family: monospace;
  color: chartreuse;
  width: 640px;
  text-align: justify;
}

#banner {
  width: 640px;
}

canvas {
  width: 640px;
  height: 480px;
  border-style: solid;
  border-color: chartreuse;
}

a {
  color:#D957FF;
}

div.game {
    color: chartreuse;
    font-family: 'Major Mono Display';
    width: 640px;
}

#playerscore {
    float: left;
    width: 50%;
    text-align: left;
}

#osscore {
    float: left;
    width: 50%;
    text-align: right;
}
